{% extends 'base.html' %}

{% block title %}{{ game.name }}{% endblock title %}

{% block content %}
<h4 class="display-2 text-center text-light m-2 mt-4">{{ game.name }}</h4>
<div class="row p-2 mt-5 mb-5">
    {% for screenshot in game.screenshots[:3] %}
    <div class="col-4">
        <img src="{{ screenshot.url }}" class="w-100"/>
    </div>
    {% endfor %}
</div>
<div class="card text-bg-dark text-center mb-3">
    <div class="card-body">
        <p class="text-center fs-4 text-wrap">""{{ game.my_review }}""</p>
    </div>
</div>
<p class="text-center fs-3 text-wrap text-light mb-4">{{ game.description }}</p>
<p class="text-center fs-6 text-muted text-light mb-5">
    {% for genre in game.genres %}
    {{ genre.name }},
    {% if loop.last %}
    {{ genre.name }}
    {% endif %}
    {% endfor %}
</p>
<a href="{{ url_for('delete-game', game_id=game.id) }}" class="btn btn-lg btn-outline-danger w-100">Delete game...</a>
{% endblock content %}